body {
    background-color: #F1AE60;
    /* اللون البرتقالي في الخلفية */
    font-family: 'Inter', sans-serif;
}

.card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .table_header{
        flex-direction: column;
    }
    .table_header h5{
        margin-bottom: 1rem !important;
    }
}

.table> :not(caption)>*>* {
    vertical-align: middle;
}

.product-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    background-color: #f1c27d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img {
    width: 25px;
    height: 25px;
}

.table th {
    font-weight: 600;
    color: #666;
}

.table td {
    color: #333;
}

.pagination .page-item .page-link {
    border-radius: 8px;
}
.pagination .page-item.active{
    background-color: transparent !important;
}
.pagination .page-item.active>.page-link{
    background-color: #F1AE60 !important;
    border: none !important;
    color: white !important;
}
.pagination .page-item >.page-link{
    color: #5c5f6a !important;
}
.btn-add {
    background-color: #000;
    color: white;
    border-radius: 8px;
}

.search-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
}